/* *
  |============================
  | include css partials with
  | default @import url()
  |============================
 */
@import url('./reset.css');
/* @import url('./gallery.css'); */
/* @import url('./form.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
ul li {
  background: #97411a;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #161616;
  transition: color 1500ms;
}
ul li:hover {
  background: #6c8cff;
}
